.DS_Store
crossPlatform/aerc/accounts.conf
crossPlatform/aerc/accounts
crossPlatform/aerc/scripts/*
!crossPlatform/aerc/scripts/generateAccountsConf.py
!crossPlatform/aerc/scripts/generateRefreshToken.py
