.DS_Store
crossPlatform/aerc/accounts.conf
crossPlatform/aerc/accounts
crossPlatform/aerc/scripts/*
crossPlatform/nvim/lazy-lock.lua
!crossPlatform/aerc/scripts/generateAccountsConf.py
!crossPlatform/aerc/scripts/generateRefreshToken.py
