configuration {
	modes: "window,drun,run,ssh,filebrowser";
	drun-match-fields: "name";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  matching: "normal";
  sort: true;
  sorting-method: "levenshtein";
  disable-history: true;
}

@theme "/home/andya/.config/rofi/modified-spotlight-dark.rasi"
